{{ define "web.layout" }}
    <!DOCTYPE html>
    <html style="height: 100%">
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
            <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>Hexya</title>
            <link rel="shortcut icon" href="/static/web/src/img/favicon.ico" type="image/x-icon"/>

            <script type="text/javascript">
                var hexya = {
                    csrf_token: "",
                };
            </script>

            {{ template "web.webclient_bootstrap.head" . }}
        </head>
        <body class="o_web_client">
            {{ template "web.webclient_bootstrap.body" . }}
        </body>
    </html>
{{ end }}

{{ define "web.menu" }}
    <ul class="nav navbar-nav navbar-left oe_application_menu_placeholder">
        {{ range . }}
        <li>
            {{ template "web.menu_link" .}}
        </li>
        {{ end }}
        <li id="menu_more_container" class="dropdown" style="display: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
            <ul id="menu_more" class="dropdown-menu"></ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right oe_user_menu_placeholder" style="display: none;"></ul>
    <ul class="nav navbar-nav navbar-right oe_systray" style="display: none;"></ul>
{{ end }}

{{ define "web.menu_link" }}
    <a href="{{ printf `/web#menu_id=%s&action=` (.ID) }}{{ if .HasAction }}{{ .ActionID }}{{ end }}"
        class="{{ if .HasChildren }}oe_menu_toggler{{ else }}oe_menu_leaf{{ end }}"
        data-menu="{{ .ID }}"
       {{ if .HasAction }}data-action-model="{{ .ActionModel }}"{{ end }}
       {{ if .HasAction }}data-action-id="{{ .ActionID }}"{{ end }}>
        <span class="oe_menu_text">
            {{ .Name }}
        </span>
    </a>
{{ end }}

{{ define "web.menu_secondary" }}
    <a class="o_sub_menu_logo" href="/web">
        <span class="oe_logo_edit">Edit Company data</span>
        <img src='/web/binary/company_logo'/>
    </a>
    <div class="o_sub_menu_content">
        {{ range . }}
            <div style="display: none" class="oe_secondary_menu" data-menu-parent="{{ .ID }}">
                {{ if .HasChildren }}
                    {{ range .Children }}
                        <div class="oe_secondary_menu_section" data-menu-xmlid="{{ .ID }}">
                            {{ if .HasChildren }}{{ .Name }}{{ else }}{{ template "web.menu_link" . }}{{ end }}
                        </div>
                        {{ template "web.menu_secondary_submenu" . }}
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
    <div class="o_sub_menu_footer">
        Powered by <a href="http://hexya.io" target="_blank"><span>Hexya</span></a>
    </div>
{{ end }}

{{ define "web.menu_secondary_submenu" }}
    {{ if .HasChildren }}
        <ul class="oe_secondary_submenu nav nav-pills nav-stacked">
            {{ range .Children }}
                <li>
                    {{ template "web.menu_link" . }}
                    {{ template "web.menu_secondary_submenu" . }}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}

{{ define "web.webclient_script" }}
    <script type="text/javascript">
        hexya.define('web.web_client', function (require) {
            var WebClient = require('web.WebClient');
            var web_client = new WebClient();
            $(function() {
                web_client.setElement($(document.body));
                web_client.start();
            });
            return web_client;
        });
    </script>
{{ end }}

{{ define "web.webclient_bootstrap" }}
    {{ template "web.layout" . }}
{{ end }}

{{ define "web.webclient_bootstrap.head" }}
    <script type="text/javascript">
        hexya.session_info = {{ .SessionInfo }};
    </script>

        <link rel="stylesheet" href="{{ .CommonCompiledCSS }}"/>
    {{ range .CommonCSS }}
        <link rel="stylesheet" href="{{ . }}"/>{{ end }}

    {{ range .CommonJS }}
        <script type="text/javascript" src="{{ . }}"></script>{{ end }}

    <script type="text/javascript" charset="utf-8">
        hexya._modules = {{ .Modules }};
    </script>

    {{ range .BackendJS }}
        <script type="text/javascript" src="{{ . }}"></script>{{ end }}

        <link rel="stylesheet" href="{{ .BackendCompiledCSS }}"/>
    {{ range .BackendCSS }}
        <link rel="stylesheet" href="{{ . }}"/>{{ end }}

    {{ template "web.webclient_script" . }}
{{ end }}

{{ define "web.webclient_bootstrap.body" }}
    <nav id="o_main_navbar" class="navbar navbar-inverse" role="navigation">
         <!--groups="base.group_user,base.group_portal">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            {{ template "web.menu" .Menu }}
        </div>
    </nav>
    <div class="o_main">
        <div class="o_sub_menu"> <!-- groups="base.group_user,base.group_portal" -->
            {{ template "web.menu_secondary" .Menu }}
        </div>
        <div class="o_main_content"></div>
    </div>
{{ end }}
